<div class="graceful-alignment-dialog" style="margin-bottom: 10px;">
    <div class="graceful-alignment-tabs">
        <button type='button' class='item'>Tab Name</button>
    </div>
    <div style="display: flex;">
        <div style="flex: 0 0 {{firstW}};"></div>
        <div style="flex: 1 0 {{secondW}};">X</div>
        <div style="flex: 1 0 {{thirdW}};">Y</div>
    </div>
    <div style="display: flex;">
        <div style="flex: 0 0 {{firstW}};">{{localize 'gracefulalignment.base'}}</div>
        <div style="flex: 1 0 {{secondW}};"><input type="text" id="base-x" /></div>
        <div style="flex: 1 0 {{thirdW}};"><input type="text" id="base-y" /></div>
    </div>
    <div style="display: flex;">
        <div style="flex: 0 0 {{firstW}};">{{localize 'gracefulalignment.offset'}}</div>
        <div style="flex: 1 0 {{secondW}};"><input type="text" id="offset-x" /></div>
        <div style="flex: 1 0 {{thirdW}};"><input type="text" id="offset-y" /></div>
    </div>
    <div style="display: flex;">
        <div style="flex: 0 0 {{firstW}};">{{localize 'gracefulalignment.size'}}</div>
        <div style="flex: 1 0 {{secondW}};"><input type="text" id="width" /></div>
        <div style="flex: 1 0 {{thirdW}};"><input type="text" id="height" /></div>
    </div>
</div>
